<app-menu></app-menu>
<div class="pagetitle">
  <h1>Liste des matières</h1>
</div>
<div class="search-add-bloc d-flex justify-content-between">
  <form [formGroup]="searchForm" (ngSubmit)="search()" >
    <div class="input-group">
      <input type="text" class="form-control input-rounded-left" placeholder="Rechercher un admin" formControlName="nom"/>
      <button type="submit" class="btn btn-rounded-right border btn-outline-primary"><i class="bi bi-search"></i></button>
    </div>
  </form>
  <a class=" d-flex btn btn-primary" (click)="openMatiereModal()"><i class="bi bi-plus-circle"></i> Nouveau</a>
</div>
<table id="example" class="display table">
  <thead >
  <tr>
    <th scope="col">Matière</th>
    <th scope="col">Coefficient</th>
    <th scope="col">Actions</th>
    <!--    <th scope="col">Handle</th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let matiere of matieres| paginate: { itemsPerPage: 10, currentPage: page }">
    <td>{{matiere.libelle}}</td>
    <td>{{matiere.coefficient}}</td>
    <td>
      <a  title="modifier" style="cursor: pointer" (click)="goTo(matiere.id)"><i class="bi bi-tools text-primary m-2"></i></a>
    </td>
    <td></td>
  </tr>
  <tr>
  </tbody>
</table>
<div class="text-center">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

