.bg-main{
  color: #0B5ED7;
}
.text-bolder{
  font-weight: bolder;font-size: 32px;
}
.carte-global:hover{
 cursor: pointer;
 color: white !important;
 background-color: #0B5ED7;
}
.carte-global:hover .label-bordered{
  color: white;
}

.label-bordered{
  font-weight: bolder;
  font-size: 20px;
}
