<mat-toolbar class="mat-accent m-0">
  <mat-toolbar-row class="d-flex justify-content-between bg-primary">
    <span>{{(is_update)?'Modifier Administrateur':'Ajout Administrateur'}}</span>
    <button mat-icon-button  (click)="matDialogRef.close()"
            aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container mt-4 mb-4">
  <form [formGroup]="addAdminForm" (ngSubmit)="addAdmin()">
    <div class="row mb-4">
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Prénom(s)</mat-label>
          <input matInput formControlName="prenom">
        </mat-form-field>
        <div  class="text-danger" *ngIf="prenom && prenom.touched && prenom.errors?.['required']">Le prénom est obligatoire</div>
      </div>

      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom">
        </mat-form-field>
        <div  class="text-danger" *ngIf="nom && nom.touched && nom.errors?.['required']">Le nom est obligatoire</div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>login</mat-label>
          <input matInput formControlName="login" [readonly]="is_update" (change)="verifyUniqueValues('login')" >
        </mat-form-field>
        <div  class="text-danger" *ngIf="login && login.touched && login.errors?.['required']">Le login est obligatoire</div>
        <div  class="text-danger" *ngIf="existingLogin">Le login existe déjà !!!</div>
      </div>
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="telephone" type="tel" [readonly]="is_update" [pattern]="telephonePattern" (change)="verifyUniqueValues('telephone')">
        </mat-form-field>
        <div  class="text-danger" *ngIf="telephone && telephone.touched && telephone.errors">Format de téléphone incorrect</div>
        <div  class="text-danger" *ngIf="existingTelephone">Le Téléphone existe déjà !!!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Adresse</mat-label>
          <input matInput formControlName="adresse">
        </mat-form-field>
        <div  class="text-danger" *ngIf="adresse && adresse.touched && adresse.errors?.['required']">L'adresse est obligatoire</div>
      </div>
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field appearance="outline">
          <mat-label>Genre</mat-label>
          <select matNativeControl required formControlName="genre_id">
            <option *ngFor="let genre of genres" value="{{genre.id}}">{{genre.libelle}}</option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <div class="text-center">
      <div class="text-danger font-weight-bold my-3" *ngIf="!is_update">NB : Un SMS contenant le mot de passe sera envoyé sur ce numéro</div>
      <button type="submit" class="mt-4 btn btn-primary col-lg-3" [disabled]="addAdminForm.invalid || existingLogin || existingTelephone">{{(is_update)?'Modifier':'Enregistrer'}}</button>
    </div>
  </form>
</div>

