<div class="pagetitle">
  <h1>Liste des Eleves</h1>
</div>
<div class="search-add-bloc d-flex justify-content-between">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="input-group">
      <input type="text" class="form-control input-rounded-left" placeholder="Rechercher un elève" formControlName="nom"/>
      <button type="submit" class="btn btn-rounded-right border btn-outline-primary"><i class="bi bi-search"></i></button>
    </div>
  </form>
</div>
<table id="example" class="display table">
  <thead >
  <tr>
    <th scope="col">Prénom(s) Nom</th>
    <th scope="col">Matricule</th>
    <th scope="col">Adresse</th>
    <th scope="col">Actions</th>
    <!--    <th scope="col">Handle</th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let eleve of eleves| paginate: { itemsPerPage: 10, currentPage: page }">
    <td>{{eleve.prenom}} {{eleve.nom}}</td>
    <td>{{eleve.matricule}}</td>
    <td>{{eleve.adresse}}</td>
    <td>
      <a  title="Ajouter une note" (click)="getEleveToEvaluate(eleve.id)" style="cursor: pointer" ><i class="bi bi-plus-circle text-primary m-2"></i></a>
    </td>
    <td></td>
  </tr>
  <tr>
  </tbody>
</table>
<div class="text-center">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

