<app-menu></app-menu>
<div class="pagetitle">
  <h1 *ngIf="user.role != 'ROLE_PARENT'else parentBloc">Liste des Eleves</h1>
  <ng-template #parentBloc>
    <h1>Liste de mes enfants</h1>
  </ng-template>
</div>
<div class="search-add-bloc d-flex justify-content-between">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="input-group">
      <input type="text" class="form-control input-rounded-left" placeholder="Rechercher un elève" formControlName="nom"/>
      <button type="submit" class="btn btn-rounded-right border btn-outline-primary"><i class="bi bi-search"></i></button>
    </div>
  </form>
  <ng-container *ngIf="user.role =='ROLE_ADMIN'">
    <a class="d-flex btn btn-primary" (click)="openEleveModal()"><i class="bi bi-plus-circle"></i> Nouveau</a>
  </ng-container>
</div>
<table id="example" class="display table">
  <thead >
  <tr>
    <th scope="col">Prénom(s) Nom</th>
    <th scope="col">Matricule</th>
    <th scope="col">Adresse</th>
    <th scope="col">Actions</th>
    <!--    <th scope="col">Handle</th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let eleve of eleves| paginate: { itemsPerPage: 10, currentPage: page }">
    <td>{{eleve.prenom}} {{eleve.nom}}</td>
    <td>{{eleve.matricule}}</td>
    <td>{{eleve.adresse}}</td>
    <td>
      <a  title="Détails sur l'élève" style="cursor: pointer" (click)="getDetails(eleve.id)"><i class="bi bi-eye text-info m-2"></i></a>
      <ng-container *ngIf="user.role == 'ROLE_ADMIN'">
        <a  title="modifier" style="cursor: pointer" ><i class="bi bi-tools text-primary m-2"></i></a>
        <a  [title]="eleve.active?'Archiver':'Désarchiver'" (click)="changeStatus(eleve.id)"><i class="bi bi-archive" [ngClass]="eleve.active?'text-danger':'text-success'"></i></a>
      </ng-container>
    </td>
    <td></td>
  </tr>
  <tr>
  </tbody>
</table>
<div class="text-center">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

