@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css";/* You can add global styles to this file, and also import other style files */
@import "https://use.fontawesome.com/releases/v5.8.1/css/all.css";
@import "~angular-notifier/styles";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
  padding: 0px !important;
}
.mycssSnackbarGreen{
  background-color: #1E7E34;
  color: white;
}
.mycssSnackbarRed{
  background-color: #C8302C;
  color: white;
}
