<mat-toolbar class="mat-accent m-0">
  <mat-toolbar-row class="d-flex justify-content-between bg-primary">
    <span>{{(is_update)?'Modification de professeur':'Ajout de professeur'}}</span>
    <button mat-icon-button  (click)="matDialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container mt-4 mb-4">
  <form [formGroup]="addProfesseurForm" (ngSubmit)="submitProfesseur()">
    <div class="row mb-4">
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Prénom(s)</mat-label>
          <input matInput formControlName="prenom">
        </mat-form-field>
        <div  class="text-danger" *ngIf="prenom && prenom.touched && prenom.errors?.['required']">Le prénom est obligatoire</div>
      </div>

      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom">
        </mat-form-field>
        <div  class="text-danger" *ngIf="nom && nom.touched && nom.errors?.['required']">Le nom est obligatoire</div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput formControlName="login" [readonly]="is_update" (change)="verifyUniqueValues('login')">
        </mat-form-field>
        <div  class="text-danger" *ngIf="login && login.touched && login.errors?.['required']">Le login est obligatoire</div>
        <div  class="text-danger" *ngIf="existingLogin">Le login existe déjà !!!</div>
      </div>
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="telephone" [readonly]="is_update" (change)="verifyUniqueValues('telephone')">
        </mat-form-field>
        <div  class="text-danger" *ngIf="telephone && telephone.touched && telephone.errors">Format de téléphone incorrect</div>
        <div  class="text-danger" *ngIf="existingTelephone">Le Téléphone existe déjà !!!</div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Date de prise de fonction</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date_prise_fonction">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div  class="text-danger" *ngIf="date_prise_fonction && date_prise_fonction.touched && date_prise_fonction.errors?.['required']">La date de prise de fonction est obligatoire</div>
      </div>
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Adresse</mat-label>
          <input matInput formControlName="adresse">
        </mat-form-field>
        <div  class="text-danger" *ngIf="adresse && adresse.touched && adresse.errors?.['required']">L'adresse est obligatoire</div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Genre</mat-label>
          <select matNativeControl required formControlName="genre_id">
            <option *ngFor="let genre of genres" value="{{genre.id}}">{{genre.libelle}}</option>
          </select>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-sm-12 mb-3 mb-lg-0">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Matière enseignée</mat-label>
          <select matNativeControl required formControlName="matiere_id">
            <option *ngFor="let matiere of matieres" value="{{matiere.id}}">{{matiere.libelle}}</option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <h5 class="col-md-12 col-sm-12 mb-3 mb-lg-0 text-center">Liste des classes</h5>
      <div class="form-check form-check-inline col" *ngFor="let classe of classes">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{classe.id}}" (change)="onCheckClass($event)" formArrayName="classes" >
        <label class="form-check-label" for="inlineCheckbox1">{{classe.libelle}}</label>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="mt-4 btn btn-primary col-lg-3" [disabled]="addProfesseurForm.invalid || existingLogin || existingTelephone">{{(is_update)?'Modifier':'Enregistrer'}}</button>
    </div>
  </form>
</div>

